<section>
    <h1>login</h1>
    <form action="../api/sessions/login" method="POST">
        <input type="text" name="email" placeholder="email">
        <br>
        <input type="text" name="password" placeholder="password">
        <br>
        <button>enviar</button>
    </form>
    <a href="../api/sessions/github">Github</a>
</section>