<h1>Nueva Constraseña</h1>
{{#if errorAlIniciar}}
        <h2>{{passworderror}}</h2>
{{/if}}
<form action="/api/sessions/newpassword" method="POST">
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="password" name="passwordsegunda" placeholder="passwordsegunda">
    <br>
    <button>enviar</button>
</form>
<a href="/views/login">Cancelar</a>
