<section>
    <h1>Nuevo Producto</h1>
    <form action="/api/products" method="POST">
        <input type="text" name="title" placeholder="title">
        <br>
        <input type="text" name="description" placeholder="description">
        <br>
        <input type="number" name="price" placeholder="price">
        <br>
        <input type="number" name="stock" placeholder="stock">
        <br>
        <input type="text" name="thumbnail" placeholder="thumbnail">
        <br>
        <input type="text" name="code" placeholder="code">
        <br>
        <button>enviar</button>
        <a href="/views/productos">Cancelar</a>
    </form>
</section>