<section>
    <h1>Restablecer Contraseña</h1>
    <form action="/api/sessions/reestablecer" method="post">
        <input type="Email" name="email" placeholder="email">
        <br>
        <button type="submit">enviar</button>
    </form>
    <br>
    <a href="/views/login">volver</a>
</section>