<section>
    <h1>Editar Producto</h1>
    <form action="/api/products/upd/{{pid}}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="title" placeholder="title">
        <br>
        <input type="text" name="description" placeholder="description">
        <br>
        <input type="number" name="price" placeholder="price">
        <br>
        <input type="number" name="stock" placeholder="stock">
        <br>
        <input type="text" name="thumbnail" placeholder="thumbnail">
        <br>
        <input type="text" name="code" placeholder="code">
        <br>
        <button type="submit">enviar</button>
        <a href="/views/productos">Cancelar</a>
    </form>
</section>